* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  padding: 30px;
  background-color: lightgreen;
}

.submit-button {
  width: 80%;
  margin-left: 10%;
}
